body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  margin-bottom: 0;
}

button {
  padding: 8px 16px;
}

.grid-button {
  margin: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  max-height: 500px;
}

.row {
  display: flex;
  height: 500px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: 1px solid rgb(172, 172, 172);
  width: 500px;
}

.color {
  background-color: rgb(3, 3, 146);
}